# Database
DB_USER=postgres
DB_PASSWORD=ganti_password_aman
DB_NAME=rentopia_auth

# JWT
JWT_SECRET=ganti_dengan_string_random_panjang

# Email (gunakan App Password dari Google)
EMAIL_USER=emailkamu@gmail.com
EMAIL_PASS=app_password_16_digit